<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/about.css">

    <title>About</title>
</head>
<body>
    <header>
        <ul>
            <li><a class="active" href="index.html">Home</a></li>
            <li><a class="active-ps" href="ps.html">ps</a></li>
            <li><a class="active-xbox" href="xbox.html">XBOX</a></li>
            <li style="float: right;"><a class="active " href="about.html">About</a></li>
        </ul>
    </header>

    <div>
        <h1>La Question Qui Se Pose Est:</h1>
            <br>
        <h2>Quelle Est Le Meilleur?</h2>
    </div>

    <h3 style="text-align: center;"><em>La Reponse Est Il N'ya Pas C'est Just La Preference</em></h3>
    <h4>Donc Voici Une Video De Compariason Entre XBOX Serie X et PS5</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/FlIC4Si5320" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <hr>

    <footer>
        <a href="https://www.youtube.com" target="_blank" id="lien-site">Lien Des Infos</a>
        <p id="copyright">Copyright &#169; 2022 Sami Djebar. Tout Droit Sont Reserver</p>
    </footer>

</body>
</html>