<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/index.css"> 

    <title>Home</title>
</head>
<body>
    <header>
        <ul>
            <li><a class="active" href="index.html">Home</a></li>
            <li><a class="active-ps" href="ps.html">PS</a></li>
            <li><a class="active-xbox" href="xbox.html">XBOX</a></li>
            <li style="float: right;"><a class="active " href="about.html">About</a></li>
        </ul>
    </header>

    <main>
        <p>Ce que vous aller voir dans se site</p>
        <ul>
            <li><a href="../templates/ps.html">Information Sur Les <abbr title="PlayStation">PS</abbr></a></li>
            <br>
            <li><a href="../templates/xbox.html">Information Sur Le XBOX</a></li>
            <br>
            <li><a href="../templates/about.html">Quel Console Acheter</a></li>
        </ul>
    </main>

</body>
</html>