<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/ps.css">

    <title>PlayStation</title>
</head>
<body>
    <header>
        <ul>
            <li><a class="active" href="index.html">Home</a></li>
            <li><a class="active-ps" href="ps.html">PS</a></li>
            <li><a class="active-xbox" href="xbox.html">XBOX</a></li>
            <li style="float: right;"><a class="active " href="about.html">About</a></li>
        </ul>
    </header>

    <h1 style="text-align: center;">Tous Les PlayStation Par Ordre De Sortie</h1>

    <main> 
        <h3>1</h3>
        <div class="ps1"> 
            <div class="ps1_image">
                <img src="https://www.presse-citron.net/app/uploads/2020/06/fiche-playstation.jpg" alt="image of a PlayStation 1">
            </div>
            <div class="ps1_text">
                <blockquote>
                    En septembre 1995, la PlayStation déboule enfin en France ! Une console dotée d’un support CD, d’une carte mémoire, 
                    et qui promet à de nombreux joueurs (souvent issus de la génération Super Nintendo / SEGA Mega Drive)
                    une toute nouvelle expérience de jeu, avec notamment l’avènement de la 3D (et des temps de chargement).
                </blockquote>
            </div>
        </div>

        <hr>

        <div class="ps2"> 
            <h3>2</h3>
            <div class="ps2_image">
                <img src="../images/ps_images/ps2_image.webp" alt="Image of a PlayStation 2">
            </div>
            <div class="ps2_text">
                <blockquote>
                    Le 24 novembre 2000, Sony commercialise en Europe sa nouvelle PlayStation 2. 
                    Une console très (très) attendue à l’époque, avec très peu d’exemplaires mis sur le marché, 
                    si bien que seuls quelques élus ont pu profiter de la PS2 pour les fêtes de fin d’année. 
                    Certains se souviennent encore du lancement pour le moins houleux au Virgin Mégastore à Paris… 
                    Une PS2 lancée avec de nombreux jeux, dont quelques belles licences en devenir (SSX, TimeSplitters…), 
                    mais aussi Fantavision.
                </blockquote>
            </div>
        </div>

        <hr>

        <div class="ps3"> 
            <h3>3</h3>
            <div class="ps3_image">
                <img src="https://www.presse-citron.net/app/uploads/2020/07/fiche-PS3.jpg" alt="Image of a PlayStation 3">
            </div>
            <div class="ps3_text">
                <blockquote>
                    En mars 2007, Sony lance en Europe sa PlayStation 3. Gonflé à bloc par le succès colossal de la PS2,
                    Sony propose alors une PS3 au tarif de 599€, avec la promesse d’un jeu en Full HD et d’instaurer un nouveau support vidéo révolutionnaire,
                    le Blu-Ray. Une PS3 qui s’accompagnait alors d’un line up impressionnant de 25 jeux, mais cela n’a pas empêché la console de connaitre un lancement assez chaotique…
                    A noter que les premiers modèles de PS3 (60 Go) était rétrocompatibles avec les jeux PS1 et les jeux PS2, ce qui ne sera pas le cas de la PS5.
                </blockquote>
            </div>
        </div>

        <hr>

        <div class="ps4"> 
            <h3>4</h3>
            <div class="ps4_image">
                <img src="../images/ps_images/ps4_image.jpeg" alt="Image of a PlayStation 4">
            </div>
            <div class="ps4_text">
                <blockquote>
                    Fin 2013, alors que la Xbox One est en rayons depuis quelques jours, 
                    Sony commercialise sa PS4, et affiche sa console à “seulement” 399€, 
                    contre 499€ pour la machine de Microsoft. Une pichenette commerciale gagnante pour le géant nippon, 
                    qui a rapidement écrasé Microsoft sur cette génération, 
                    malgré des Xbox 360/PS3 au coude à coude quelques mois auparavant. 
                    Toutefois, au line-up, mis à part Knack et Killzone : Shadow Fall, 
                    la PS4 n’avait pourtant rien de bien “exclusif” (ni de vraiment excitant) à proposer aux joueurs…
                </blockquote>
            </div>
        </div>

        <hr>

        <div class="ps5"> 
            <h3>5</h3>
            <div class="ps5_image">
                <img src="https://www.presse-citron.net/app/uploads/2020/09/ps5-console.jpg" alt="Image of a PlayStation 5">
            </div>
            <div class="ps5_text">
                <blockquote>
                    Le 19 novembre 2020, Sony va inaugurer un premier “double lancement”, 
                    avec la commercialisation d’une PS5 dotée d’un lecteur de disques, et d’une PS5 Digital Edition, 
                    qui fera la part belle au jeu 100% numérique, comme la PSP Go en son temps. Une PlayStation 5 lancée avec un line-up assez faible pour certains, 
                    avec quelques titres exclusifs à la machine, 
                    comme Demon’s Souls ou Destruction All Stars, 
                    mais aussi des jeux qui seront lancés également sur PS4 (comme Spider-Man Miles Morales, 
                    Sackaboy a Big Adventure ou encore le futur Horizon Forbidden West, attendu en 2021).
                </blockquote>
            </div>
        </div>

    </main>

    <hr>

    <footer>
        <a href="https://www.presse-citron.net/ps1-ps2-ps3-ps4-ps5-et-si-on-comparait-les-line-up-de-chaque-console-playstation/" target="_blank" id="lien-site">Lien Des Infos</a>
        <p id="copyright">Copyright &#169; 2022 Sami Djebar. Tout Droit Sont Reserver</p>
    </footer>

</body>
</html>